.ctn {
  background-color: #eee;

  .canvasCtn {
    background-color: #ccc;
    border-radius: 4px;
    width: 1024px;
    height: 768px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
